extends layout

block content
  ul
    li.listPadding
        a(href='/list?table=goods') 商品管理
    li.listPadding
        a(href='/list?table=clients') 客户管理
    li.listPadding
        a(href='/list?table=orders') 订单管理
    li.listPadding
        a(href='/list?table=rates') 汇率管理
block list