doctype html
html
  head
    title= title
    link(href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    div.caption
        h1 喵妈英国Next拼单直播
    div.floatLeft
        block content  
    div.floatLeft
        block list